@use "../base/Colors.module.scss" as color;
@use "../base/Fonts.module.scss" as font;
@use "../base/MediaQueries.module.scss" as mediaquery;

.footerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: color.$dark-grey;
  color: color.$white;
}

.footerContentContainer {
  width: mediaquery.$inner-desktoppage-container;
  display: flex;
  flex-direction: column;
}

.footerTopRow {
  height: 182px;
  display: flex;
}

.footerSecondRow {
  height: 192px;
  display: flex;
}

.footerColumnOne {
  width: 135px;
  margin-right: 92px;
  display: flex;
  flex-direction: column;
}

.footerColumnTwo {
  width: 302px;
  margin-right: 152px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.footerColumnThree {
  width: 204px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.textLogo {
  @include font.logo-text-default;
  padding-bottom: 8px;
}

.headingBox {
  height: 34px;
  width: 302px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-top: 16px;
}

.footerHeadings {
  @include font.sublinks-default;
}

.textLogohidden {
  @include font.logo-text-default;
  padding-bottom: 8px;
  color: color.$dark-grey;
}

.footerLink {
  @include font.footer-link-default;
  padding-bottom: 8px;
}

.rowSpace {
  display: flex;
  height: 16px;
}

.line {
  display: block;
  height: 1px;
  color: color.$white;
  width: 100%;
  border-top: 1px solid;
  margin-bottom: 16px;
}

.bottomRow {
  display: flex;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: space-between;
  padding-bottom: 16px;
}

.footerlegals {
  @include font.body-small-regular;
}
