@use "../base/Colors.module.scss" as color;
@use "../base/Fonts.module.scss" as font;
@use "../base/MediaQueries.module.scss" as mediaquery;

$tablet: mediaquery.$inner-tabletpage-container;

.navContainer {
  width: 100%;
  background-color: color.$light-grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.linksContainer {
  width: 100%;
  display: flex;
  //background-color: orange;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabletMenuLinksBox {
  width: $tablet;
  background-color: color.$light-grey;
  display: flex;
  justify-content: space-between;
  align-content: center;
  //align-items: center;
}

.linkBox {
  display: flex;
  width: 880px;
  flex-direction: row;
  min-height: fit-content;

  background-color: color.$light-grey;
}

.sublinkBox {
  width: 100%;
  background-color: color.$light-grey;
  height: fit-content;
  display: flex;
}

.burgerMenuLinks {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.buttonBurger {
  margin-top: 15px;
  margin-bottom: 10px;
}

.linkAlignment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: space-between;
  align-items: center;
  align-content: center;
  width: 670px;
}

.activeLogoLink {
  @include font.logo-text-default;
  color: color.$primary-blue-main;
  margin-right: 80px;
}

.deactiveLogoLink {
  @include font.logo-text-default;
  color: color.$light-grey;
  margin-right: 80px;
}

.makeLogoLink {
  @include font.logo-text-default;
  color: color.$primary-lavendar-main;
  margin-right: 80px;
}

.keepLogoLink {
  @include font.logo-text-default;
  color: color.$primary-orange-medium;
  margin-right: 80px;
}

.growLogoLink {
  @include font.logo-text-default;
  color: color.$primary-green-main;
  margin-right: 80px;
}

.moneyLogoLink {
  @include font.logo-text-default;
  color: color.$primary-blue-light;
  margin-right: 80px;
}

@mixin deactiveMenuLink {
  @include font.menu-link-default;
  margin-right: 80px;
}

.makeDeactivateLink {
  @include deactiveMenuLink;

  &:hover {
    color: color.$primary-lavendar-medium;
  }
}

.makeMenuLink {
  @include font.menu-link-default;
  color: color.$primary-lavendar-dark;
  padding: 0px;
  margin-right: 80px;
}

.makeSubMenuLink {
  @include font.sublinks-default;
  color: color.$black;
  padding: 0px;
  margin-right: 80px;
  &:hover {
    color: color.$primary-lavendar-medium;
  }
}

.keepSubMenuLink {
  @include font.sublinks-default;
  color: color.$black;
  padding: 0px;
  margin-right: 80px;
  &:hover {
    color: color.$primary-orange-light;
  }
}

.growSubMenuLink {
  @include font.sublinks-default;
  color: color.$black;
  padding: 0px;
  margin-right: 80px;
  &:hover {
    color: color.$primary-green-main;
  }
}

.moneySubMenuLink {
  @include font.sublinks-default;
  color: color.$black;
  padding: 0px;
  margin-right: 80px;
  &:hover {
    color: color.$primary-blue-light;
  }
}

.keepMenuLink {
  @include font.menu-link-default;
  padding: 0px;
  margin-right: 80px;

  color: color.$primary-orange-main;
}

.keepDeactivateLink {
  @include deactiveMenuLink;

  &:hover {
    color: color.$primary-orange-light;
  }
}

.growDeactivateLink {
  @include deactiveMenuLink;

  &:hover {
    color: color.$primary-green-light;
  }
}

.growMenuLink {
  @include font.menu-link-default;
  padding: 0px;
  margin-right: 80px;

  color: color.$primary-green-medium;
}

.moneyDeactivateLink {
  width: 166px;
  height: 49px;
  background-color: color.$primary-blue-main;
  color: color.$white;
  @include font.button-text-default;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: color.$primary-blue-light;
  }
}

.activeGrowButton {
  width: 166px;
  height: 49px;
  background-color: transparent;
  color: color.$primary-blue-main;
  @include font.button-text-default;
  border: 1px color.$white solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  left: 0px;
  width: 100%;
  align-content: center;
  position: center;
}
.makeSublinks {
  display: none;
  @include list;
  align-content: center;
  justify-content: center;

  //width: 670px;
}

@mixin mobileLinks {
  display: flex;

  @include list;
  align-content: center;
  justify-content: center;
  @include font.sublinks-default;
  flex-direction: column;
}

@mixin mobileSubLinks {
  display: none;

  @include list;
  align-content: center;
  justify-content: flex-start;
  @include font.sublinks-small;
  left: 0px;
  margin-right: 8px;
}

.makeMobileSubLinks {
  @include mobileSubLinks;
}

.makeMobileSubLinks:hover {
  color: color.$primary-lavendar-main;
}

.keepMobileSubLinks {
  @include mobileSubLinks;
}

.growMobileSubLinks {
  @include mobileSubLinks;
}

.moneyMobileSubLinks {
  @include mobileSubLinks;
}

.keepMobileLink {
  @include mobileLinks;
}

.moneyMobileLink {
  @include mobileLinks;
}

.makeMobileLink:hover {
  color: color.$primary-lavendar-main;
}

.keepMobileLink:hover {
  color: color.$primary-orange-medium;
}

.growMobileLink:hover {
  color: color.$primary-green-main;
}

.moneyMobileLink:hover {
  color: color.$primary-blue-light;
}

.makeMobileLink {
  @include mobileLinks;
}

.makeMobileLink:hover .makeMobileSubLinks {
  display: flex;
}

.keepMobileLink:hover .keepMobileSubLinks {
  display: flex;
}

.growMobileLink:hover .growMobileSubLinks {
  display: flex;
}

.moneyMobileLink:hover .moneyMobileSubLinks {
  display: flex;
}
.keepMobileLink {
  @include mobileLinks;
}

.growMobileLink {
  @include mobileLinks;
}

.money.keepMobileLink {
  @include mobileLinks;
}

.makeFullLinks {
  @include list;

  display: flex;
}

.keepFullLinks {
  @include list;

  display: flex;
}

.keepMobileSublinks {
}

.keepSublinks {
  display: none;

  @include list;

  background-color: white;
  align-content: center;
  justify-content: center;

  //width: 670px;
}

.makeFullLinks:hover .makeSublinks {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-self: center;
  position: absolute;
}

.makeFullLinks:hover .background {
  display: flex;
}
.keepFullLinks {
  @include list;
}

.keepSublinks {
  display: none;
  flex-direction: column;
  @include list;
}

.keepFullLinks:hover .keepSublinks {
  display: flex;
}

.growFullLinks {
  @include list;
}

.growSublinks {
  display: none;
  flex-direction: column;
  @include list;
}

.growFullLinks:hover .growSublinks {
  display: flex;
}

.moneyFullLinks {
  @include list;
}

.moneySublinks {
  display: none;
  flex-direction: column;
  @include list;
}

.moneyFullLinks:hover .growSublinks {
  display: flex;
}

//make hover states

.hiddenLogo {
  @include font.logo-text-default;
  color: color.$light-grey;
  margin-right: 80px;
  visibility: hidden;
}

.sublinksContainer {
  background-color: color.$light-grey;
  display: flex;
  justify-content: space-between;
  width: 880px;
  padding-top: 18px;
  align-items: center;
}

// an intern will have to bring consistency with the capital and lower case use of l in links
.blogsContainer {
  display: flex;
  justify-content: space-between;

  width: 670px;
  align-content: center;
  height: fit-content;
}

.imageBox {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  object-fit: fit;
}

.toolkit {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moneysublinksContainer {
  background-color: color.$light-grey;
  display: flex;
  justify-content: space-around;
  width: 880px;
  padding-top: 18px;
}

//the responsive menu styles

@media (max-width: mediaquery.$tablet-query) {
  .linkBox {
    display: none;
  }

  .linksContainer {
    display: flex;
    background-color: color.$light-grey;
  }

  .tabletMenuLinksBox {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    background-color: color.$light-grey;
    display: flex;
    justify-content: space-between;
    align-content: center;
    //align-items: center;
  }
}

@media (min-width: mediaquery.$tablet-query) {
  .tabletMenuLinksBox {
    display: none;
  }
}
