@use "../base/Colors.module.scss" as color;
@use "../base/MediaQueries.module.scss" as mediaquery;
@use "../base/Fonts.module.scss" as font;

.list {
  list-style-type: none;
}

.sublist {
  list-style-type: none;
  display: none;
}

@mixin menuLink {
  color: color.$black;
  @include font.menu-link-default;
}

.menuMakeLink {
  @include menuLink;
}

.makeLink {
  color: color.$primary-lavendar-dark;
  @include font.menu-link-default;
}

.test {
  background-color: green;
  display: inline-block;
}

.test:hover {
  background-color: yellow;
}
.test:hover + .sublist {
  color: orange;
  display: flex;
}

.menuMakeLink:hover + .sublist {
  display: flex;
}

.menuKeepLink {
  @include menuLink;
}

.menuGrowLink {
  @include menuLink;
}

.menuMoneyLink {
  @include menuLink;
}

.sublinkBloc {
  display: flex;
  flex-direction: column;
}

.sublinkImage {
  height: 58px;
  display: flex;
  margin-bottom: 16px;
}

@mixin rowStyle {
  background-color: color.$light-grey;
  display: flex;
  width: 100%;
  height: fit-content;
  padding-top: 16px;
  padding-bottom: 16px;
  top: 0;
  position: relative;
  justify-content: center;
}

@mixin innerContainer {
  width: mediaquery.$inner-desktoppage-container;
  display: flex;
  align-items: center;
  align-content: center;
  height: fit-content;
}

.topRow {
  @include rowStyle;
}

.linksContainer {
  @include innerContainer;
}

.active {
  color: green;
}

.linksRow {
  width: 656px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: fit-content;
}

.hoverContainerMake {
  visibility: hidden;
}

.topRow:hover + .hoverContainer {
  visibility: visible;
}

.textLogo {
  @include font.logo-text-default;
  padding-right: 91px;
}

.textLogoHidden {
  @include font.logo-text-default;
  padding-right: 91px;
  visibility: hidden;
}

.growLink {
  color: color.$primary-green-main;
  @include font.menu-link-default;
}

.keepLink {
  color: color.$primary-orange-main;
  @include font.menu-link-default;
}

.homeLink {
  color: color.$primary-blue-main;
  @include font.logo-text-default;
  padding-right: 91px;
}

.button {
  width: 166px;
  height: 49px;
  border-radius: 15px;
  background-color: color.$primary-blue-main;
  display: flex;
  justify-content: center;
  align-items: center;
  color: color.$white;
  @include font.button-text-default;
}

.button:hover {
  width: 166px;
  height: 49px;
  border-radius: 15px;
  background-color: color.$primary-blue-light;
  display: flex;
  justify-content: center;
  align-items: center;
  color: color.$white;
  @include font.button-text-default;
}

.activeButton {
  width: 166px;
  height: 49px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: color.$primary-blue-main;
  @include font.button-text-default;
  border: 4px solid color.$white;
}

.buttonLink {
  color: color.$white;
  @include font.button-text-default;
}

.secondRow {
  @include rowStyle;
}
