@use "../base/Colors.module.scss" as color;
@use "../base/Fonts.module.scss" as font;
@use "../base/MediaQueries.module.scss" as mediaquery;

.navContainer {
  width: 100%;
  background-color: color.$light-grey;
  display: flex;
  justify-content: center;
}

.linksContainer {
  width: mediaquery.$inner-desktoppage-container;
}
