//the basics

$white: white;
$black: black;

//the greys
$medium-grey: #424245;
$dark-grey: #2d2d2d;
$light-grey: #f4f3f6;

//the blues
$primary-blue-main: #3e63e3;
$primary-blue-light: #accafd;
$primary-blue-medium: #8398d9;
$primary-blue-dark: #14267c;

//the purples
$primary-lavendar-main: #ad90d4;
$primary-lavendar-light: #eae0f2;
$primary-lavendar-medium: #d4b1eb;
$primary-lavendar-dark: #673ab7;

//the oranges
$primary-orange-main: #ff9031;
$primary-orange-light: #ffc886;
$primary-orange-medium: #fdb83e;

//the greens
$primary-green-main: #c2d87a;
$primary-green-light: #e0ecc0;
$primary-green-medium: #89a62d;
$primary-green-dark: #03312e;
$primary-green-neon: #dae83b;

//
