@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,500;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap");

//fonts
$ibm-plex-sans: "IBM Plex Sans", sans-serif;
$domine: "Domine", serif;
$roboto: "Roboto", sans-serif;

//font-weightings
$bold: 700;
$regular: 400;

//link fonts
@mixin menu-link-default {
  font-family: $ibm-plex-sans;
  font-size: 30px;
  font-weight: $bold;
}

@mixin sublinks-default {
  font-family: $ibm-plex-sans;
  font-size: 20px;
  font-weight: $bold;
}

@mixin sublinks-small {
  font-family: $ibm-plex-sans;
  font-size: 18px;
  font-weight: $bold;
}

@mixin footer-link-default {
  font-family: $ibm-plex-sans;
  font-size: 16px;
  font-weight: $bold;
}

@mixin footer-link-activated {
  font-family: $ibm-plex-sans;
  font-size: 20px;
  font-weight: $bold;
}

//the text fonts
@mixin logo-text-default {
  font-family: $ibm-plex-sans;
  font-size: 45px;
  font-weight: $bold;
}

@mixin logo-text-small {
  font-family: $ibm-plex-sans;
  font-size: 30px;
  font-weight: $bold;
}

//the body Fonts
@mixin body-small-regular {
  font-size: 16px;
  font-family: $domine;
  font-weight: $regular;
}

@mixin body-large-regular {
  font-size: 20px;
  font-family: $domine;
  font-weight: $regular;
}

@mixin body-large-bold {
  font-size: 20px;
  font-family: $domine;
  font-weight: $bold;
}

@mixin body-medium-bold {
  font-size: 18px;
  font-family: $domine;
  font-weight: $bold;
}

@mixin body-medium-regular {
  font-size: 18px;
  font-family: $domine;
  font-weight: $regular;
}

@mixin body-small-body {
  font-size: 16px;
  font-family: $domine;
  font-weight: $bold;
}

@mixin body-small-regular {
  font-size: 16px;
  font-family: $domine;
  font-weight: $regular;
}

//the buttons
@mixin button-text-default {
  font-family: $roboto;
  font-size: 25px;
  font-weight: $bold;
}

@mixin button-text-small {
  font-family: $roboto;
  font-size: 16px;
  font-weight: $bold;
}

//alerts warnings
@mixin alert {
  @include body-medium-bold;
}

//labels

@mixin label-small {
  font-family: $domine;
  font-size: 16px;
  font-weight: $bold;
}

@mixin label-mobile-small {
  font-family: $domine;
  font-size: 14px;
  font-weight: $bold;
}

@mixin label-small-regular {
  font-family: $domine;
  font-size: 12px;
  font-weight: $regular;
}

@mixin label-tags-default {
  font-family: $ibm-plex-sans;
  font-size: 20px;
  font-weight: $bold;
}

@mixin label-tags-large {
  font-family: $ibm-plex-sans;
  font-size: 25px;
  font-weight: $bold;
}
